.site-footer{
    .widget:not(:last-child){
        @apply mb-4;
    }

    .wp-block-columns:last-child{
        margin-bottom: 0;
    }

    .widget_block{
        .alignwide{
            width: auto;
            max-width: initial;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .wp-block-media-text{
        @apply flex items-start;
        grid-template-columns: 48px auto !important;
        .wp-block-media-text__content{
            @apply px-4 py-0 leading-normal;
        }
        .wp-block-media-text__media{
            @apply flex-shrink-0;
            img{
                max-width: 24px;
            }
        }
    }

    .footer-main{
        @apply py-6;
        .row{
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            @screen lg{
                gap: 32px;
                grid-template-rows: 1fr;
                grid-template-columns: 25% 1fr 2fr;
            }
            @media screen and (max-width: 767px) {
                &>div:last-child{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }
        .widget_nav_menu{
            .widgettitle{
                @apply text-xl font-semibold;
            }
            li{
                @apply mt-0;
            }
            a{
                @apply text-sm text-gray-300;
            }
        }
    }

    .widget_block{
        h2{
            @apply text-xl font-semibold;
        }
    }

    .wp-block-column{
        .wp-block-image:last-child{
            @apply mb-0;
            figcaption{
                @apply my-0;
            }
        }
    }
}
